<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
    <a class="navbar-brand" routerLink="/"><H5>Angular 15 Portfolio</H5></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Social
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://github.com/evidenciasponao/" target="_blank">GitHub</a></li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/anderson-montenegro-6498a3231/" target="_blank">Linkedin</a></li>
            <li><a class="dropdown-item" href="https://wa.me/573214521011" target="_blank">WhatsApp</a></li>
            <li><a class="dropdown-item" href="mailto:evidenciasponao@gmail.com" target="_blank">Email</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Projects
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/angular-projects"
                >Projects Angular</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/typescript">Typescript</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
