<!--Banner2-->
<section class="py-1" id="learn">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
          <h2 class="fw-bolder">Frontend Framework</h2>
          <p class="lead fw-normal text-muted mb-5">
            Cross-platform and compatible with all major browsers Relatively
            easy large and small applications with modern web technologies
          </p>
        </div>
      </div>
    </div>
    <div class="row gx-5">
      <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
          <img class="card-img-top" src="assets/angular.jpg" alt="..."/>
          <div class="card-body p-4">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">
              News
            </div>
            <a
              class="text-decoration-none link-dark stretched-link"
              href="angular-projects"
              ><h5 class="card-title mb-3">Angular</h5></a
            >
            <p class="card-text mb-0">
              Angular supports you with an opinionated platform as your team and
              apps grow. This allows you to build testable, and scalable user
              interfaces that perform well as they grow.
            </p>
          </div>
          <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
              <div class="d-flex align-items-center">
                <img
                  class="rounded-circle me-3"
                  src="assets/codding.png"
                  width="50"
                  height="50"
                  alt="..."
                />
                <div class="small">
                  <div class="fw-bold">Anderson M.</div>
                  <div class="text-muted">
                    March 12, 2023 &middot; 6 min read
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
          <img class="card-img-top" src="assets/react.jpeg" alt="..." />
          <div class="card-body p-4">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">
              News
            </div>
            <a
              class="text-decoration-none link-dark stretched-link"
              href="https://es.react.dev/"
              target="_blank"
              ><h5 class="card-title mb-3">React</h5></a
            >
            <p class="card-text mb-0">
              React allows you to build user interfaces from individual pieces
              called components. Create your own React components like
              Thumbnail, LikeButton, and Video. Then combine them to form
              screens, pages, and apps.
            </p>
          </div>
          <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
              <div class="d-flex align-items-center">
                <img
                  class="rounded-circle me-3"
                  src="assets/codding.png"
                  width="50"
                  height="50"
                  alt="..."
                />
                <div class="small">
                  <div class="fw-bold">Anderson M.</div>
                  <div class="text-muted">
                    March 23, 2023 &middot; 4 min read
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card h-100 shadow border-0">
          <img class="card-img-top" src="assets/vue.png" alt="..." />
          <div class="card-body p-4">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">
              News
            </div>
            <a
              class="text-decoration-none link-dark stretched-link"
              href="https://vuejs.org/"
              target="_blank"
              ><h5 class="card-title mb-3">Vue</h5></a
            >
            <p class="card-text mb-0">
              The Progressive JavaScript Framework An approachable, performant
              and versatile framework for building web user interfaces.
            </p>
          </div>
          <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="d-flex align-items-end justify-content-between">
              <div class="d-flex align-items-center">
                <img
                  class="rounded-circle me-3"
                  src="assets/codding.png"
                  width="50"
                  height="50"
                  alt="..."
                />
                <div class="small">
                  <div class="fw-bold">Anderson M.</div>
                  <div class="text-muted">
                    April 2, 2023 &middot; 10 min read
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
