<app-navbar></app-navbar>
<div class="container px-5 mt-3">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="basic-types" data-bs-toggle="tab" data-bs-target="#basic-types-pane" type="button" role="tab" aria-controls="basic-types-pane" aria-selected="true">Basic Types 01</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="object-interface-tab" data-bs-toggle="tab" data-bs-target="#object-interface-tab-pane" type="button" role="tab" aria-controls="object-interface-tab-pane" aria-selected="false">Object Interface 02</button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="functions-tab" data-bs-toggle="tab" data-bs-target="#functions-tab-pane" type="button" role="tab" aria-controls="functions-tab-pane" aria-selected="false">Functions 03</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="basic-destructuring-tab" data-bs-toggle="tab" data-bs-target="#basic-destructuring-tab-pane" type="button" role="tab" aria-controls="basic-destructuring-tab-pane" aria-selected="false">Basic Destructuring 05</button>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="basic-types-pane" role="tabpanel" aria-labelledby="basic-types" tabindex="0"><br>
      <div class="row gx-5">
        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types.png" alt="..." /></div>
        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types2.png" alt="..." /></div>
        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types3.png" alt="..." /></div>
    </div>
    </div>

    <div class="tab-pane fade" id="object-interface-tab-pane" role="tabpanel" aria-labelledby="object-interface-tab" tabindex="0"><br>
      <div class="row gx-5">
        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types4.png" alt="..." /></div>
        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types5.png" alt="..." /></div>
        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types6.png" alt="..." /></div>
    </div>
  </div>

  <div class="tab-pane fade" id="functions-tab-pane" role="tabpanel" aria-labelledby="functions-tab" tabindex="0"><br>
    <div class="row gx-5">
      <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types7.png" alt="..." /></div>
      <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types8.png" alt="..." /></div>
      <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types9.png" alt="..." /></div>
      <p>Functions with objects as arguments</p>
      <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types10.png" alt="..." /></div>
      <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types11.png" alt="..." /></div>
      <p>HomeWork 04</p>
      <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types12.png" alt="..." /></div>
  </div>
</div>

<div class="tab-pane fade" id="basic-destructuring-tab-pane" role="tabpanel" aria-labelledby="basic-destructuring-tab" tabindex="0"><br>
  <div class="row gx-5">
    <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types13.png" alt="..." /></div>
    <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types14.png" alt="..." /></div>
    <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="assets/typescript-basic-types15.png" alt="..." /></div>
</div>
</div>






