<app-navbar></app-navbar>

<!-- Page Content-->
<section class="mt-1">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h1 class="fw-bolder">My Work</h1>
      <p class="lead fw-normal text-muted mb-0">Anderson portfolio</p>
    </div>
    <div class="row gx-5">
      <div class="col-lg-6">
        <div class="position-relative mb-5">
          <img
            class="img-fluid rounded-3 mb-3"
            src="assets/project1.png"
            alt="..."
          />
          <a
            class="h3 fw-bolder text-decoration-none link-dark stretched-link"
            routerLink="/"
            >Angular Portfolio</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative mb-5">
          <img
            class="img-fluid rounded-3 mb-3"
            src="assets/project2.png"
            alt="..."
          />
          <a
            class="h3 fw-bolder text-decoration-none link-dark stretched-link"
            href="https://angular-frontend-app3.azurewebsites.net/" target="_blank"
            >Bootstrap5 Templates</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative mb-5 mb-lg-0">
          <img
            class="img-fluid rounded-3 mb-3"
            src="assets/project3.png"
            alt="..."
          />
          <a
            class="h3 fw-bolder text-decoration-none link-dark stretched-link"
            href="https://jolly-flower-0744f8510.3.azurestaticapps.net/" target="_blank"
            >ResFul Api Rick and Morty</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative">
          <img
            class="img-fluid rounded-3 mb-3"
            src="assets/project4.png"
            alt="..."
          />
          <a
            class="h3 fw-bolder text-decoration-none link-dark stretched-link"
            href="https://angular-frontend-app.azurewebsites.net/" target="_blank"
            >Angular Deployed On Azure</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
